.App {
  text-align: center;
}
*{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
}

.date{
  width: 70%;
 height:300px;
background-image: url("https://media1.popsugar-assets.com/files/thumbor/_XIv2PMlWMie6FmqWMBh7pr-XHk/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2017/09/19/992/n/36735815/c5a39fb959c04d658f6b73.48321050_edit_img_cover_file_37438685_1477814400/i/39-Inspirational-Quotes-Change-Your-Life.jpg");
margin-left: 15%;
}


.myForm{
  display: flex;
  margin-left: 15%;
  margin-top: 10px;
  width: 70%; 
}
.body{
  background-color: black;
  
}

.form-input{
  width: 80%;
  background-color: tan;
  height:35px;
  padding-left: 7px;
  font-size: 15px;
}
.Add-form{
  display: flex;
  margin-right:5px;
}
.Add-btn .fas{
  font-size: 30px;
  color:tan
}
.Add-btn .fas:hover{
  font-size: 35px;
}
.Add-btn{
  height:35px;
  border:solid grey 0.1px;
  margin-top: 2px;
  margin-left:5px ;
  width:50px;

}
.form-input{
  width:740px;
 
}


.select{
  color:tan;
  height:93%;
  width:150px;
}

.select:hover{
  color:black;
}

.todo-list{
  width: 70%;
margin-left: 15%;
}
.todos{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
  
}
.todo{
  background-color: tan;
  height:35px;
  width:800px;
  padding-left: 7px;
  font-size: 23px;
  text-align: start;
}
.btns{
  height:35px;
  width:150px;
  display: flex;
  justify-content: space-between;
}
.btns button{
  height:35px;
  border:solid grey 0.1px;
  width:50px;
 

}
.btns button .fas{
  font-size: 17px;
  color:tan;
  
}
.btns button .fas:hover{
  font-size: 23px;
}
.btns button .far{
  font-size: 17px;
  color:tan
}
.btns button .far:hover{
  font-size: 23px;
}
.edit{
  width:800px;
  display: flex;
  justify-content: space-between;
}
.input-edit{
  width:650px;
  height:30px
}
.edit button{
color:tan;
width:80px;
background-color: white;
font-size: 15px;
}
.edit button:hover{
color:black;
width:80px;
background-color: white;
font-size: 20px;
}


